:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);


    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

main {
    padding: 3rem 8rem;
}

main>section:nth-child(1) {
    text-align: center;
    line-height: 20px;
}

main>section:nth-child(1)>p {
    width: 50%;
    text-align: center;
    margin: auto;
}


main>section:nth-child(1)>h1:nth-child(1) {
    font-weight: 200;
}

main>section:nth-child(1)>h1:nth-child(2) {
    text-align: center;
}

main>section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

main>section:nth-child(2)>div:nth-child(1),
main>section:nth-child(2)>div:nth-child(3){
    box-shadow: 0px 1px 13px -2px var(--Very-Dark-Blue);
    border-radius: 9px;
    width: 10rem;
    height: 7rem;
}


footer {
    text-align: center;
}